.addPlatillo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.addPlatillo-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.addPlatillo-form input, .addPlatillo-form select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.addPlatillo-form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.addPlatillo-form button:hover {
  background-color: #388E3C;
}